<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Edit page</h1>
    <form action="/comments/<%= comment.id %>?_method=PATCH" method="POST">
        <textarea name="comment" id="" cols="30" rows="20"><%= comment.comment %></textarea>
        <button type="submit">save</button>
    </form>
</body>
</html>